In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('train_aWnotuB.csv')

In [ ]:
df.shape

(48120, 4)

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.shape

(48120, 4)

In [ ]:
df.head()

           DateTime  Junction  Vehicles           ID
0  01-11-2015 00:00         1        15  20151101001
1  01-11-2015 01:00         1        13  20151101011
2  01-11-2015 02:00         1        10  20151101021
3  01-11-2015 03:00         1         7  20151101031
4  01-11-2015 04:00         1         9  20151101041

In [ ]:
df['Datetime']=pd.to_datetime(df['DateTime'])

In [ ]:
df.head()

           DateTime  Junction  Vehicles           ID            Datetime
0  01-11-2015 00:00         1        15  20151101001 2015-01-11 00:00:00
1  01-11-2015 01:00         1        13  20151101011 2015-01-11 01:00:00
2  01-11-2015 02:00         1        10  20151101021 2015-01-11 02:00:00
3  01-11-2015 03:00         1         7  20151101031 2015-01-11 03:00:00
4  01-11-2015 04:00         1         9  20151101041 2015-01-11 04:00:00

In [ ]:
df['year']=df.Datetime.dt.year

In [ ]:
df['month']=df.Datetime.dt.month
df['day']=df.Datetime.dt.day
df['time']=df.Datetime.dt.hour
df['minute']=df.Datetime.dt.minute
df['sec']=df.Datetime.dt.second

In [ ]:
df.head()

,DateTime,Junction,Vehicles,ID,Datetime,year,month,day,time,minute,sec
0,01-11-2015 00:00,1,15,20151101001,2015-01-11 00:00:00,2015,1,11,0,0,0
1,01-11-2015 01:00,1,13,20151101011,2015-01-11 01:00:00,2015,1,11,1,0,0
2,01-11-2015 02:00,1,10,20151101021,2015-01-11 02:00:00,2015,1,11,2,0,0
3,01-11-2015 03:00,1,7,20151101031,2015-01-11 03:00:00,2015,1,11,3,0,0
4,01-11-2015 04:00,1,9,20151101041,2015-01-11 04:00:00,2015,1,11,4,0,0

In [ ]:
df.sec.replace({0:np.nan},inplace=True)

In [ ]:
print(df.sec.isnull().sum())

48120

In [ ]:
df.minute.replace({0:np.nan},inplace=True)

In [ ]:
print(df.minute.isnull().sum())

48120

In [ ]:
df.drop(['minute','sec','DateTime','Datetime'],axis='columns',inplace=True)

In [ ]:
df.head()

   Junction  Vehicles           ID  year  month  day  time
0         1        15  20151101001  2015      1   11     0
1         1        13  20151101011  2015      1   11     1
2         1        10  20151101021  2015      1   11     2
3         1         7  20151101031  2015      1   11     3
4         1         9  20151101041  2015      1   11     4

In [ ]:
y=df.Vehicles

In [ ]:
x=df.drop('Vehicles',axis='columns')

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.6)

In [ ]:
from sklearn.linear_model import LinearRegression
lir=LinearRegression()

In [ ]:
lir.fit(x_train,y_train)

LinearRegression()

In [ ]:
ypredict=lir.predict(x_test)
ypredict

array([48.36785178, 35.43900444,  2.68926663, ..., 18.78732345,
       20.70482169, 35.90543607])

In [ ]:
lir.score(x_test,y_test)

0.5859987030301685

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
lir.predict([[1,20151101011,2015,1,11,1]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([17.57726905])